*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.wrapper{
    max-width: 1000px;
    margin: 0 auto;
}
.iconDown{
    width: 20px;
    height: 20px;
}
.accordion__header{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    padding: 5px;

}
.accordion__body{
    display: none;
}
.accordion__item{
    margin-bottom: 10px;
}